Task 1: `Counting Numbers`
    
    write a program that prints the numbers from 1 to 10, each on a new line.


Task 2: `Even Numbers`

    write a program that prints the even numbers from 1 to 20, each on a new line.


Task 3: `Square Numbers`

    Write a program that calculates and prints the square of each number from 1 to 5.


Task 4: `Multiples of Three`

    write a program that prints the multiples of 3 from 3 to 30, each on a new line.

Task 5: `Reverse Counting`

    Write a program that prints the numbers from 10 to 1 in descending order, each on a new line.

### TASK 1

In [2]:
# COUNTING NUMBERS USING FOR LOOP
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [6]:
# COUNTING NUMBERS UISNG WHILE LOOP
a = 1
while a<=10:
    print(a)
    a = a+1

1
2
3
4
5
6
7
8
9
10

### TASK 2

In [8]:
# EVEN NUMBERS FROM 1 TO 20 USING FOR LOOP
for i in range(1,21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [18]:
# EVEN NUMBERS FROM 1 TO 20 USING WHILE LOOP
a = 0
while a<=20:
    print(a)
    a = a+2

0
2
4
6
8
10
12
14
16
18
20

### TASK 3

In [21]:
# SQUARE ROOT OF NUMBERS 1 TO 5 USING FOR LOOP
for i in range(1,6):
    print(f'{i}**2 = ',i**2)

1**2 =  1
2**2 =  4
3**2 =  9
4**2 =  16
5**2 =  25

In [1]:
# SQUARE ROOT OF NUMBERS WHILE LOOP
a = 1
while a<=5:
    print(f'{a}**2 = ',a**2)
    a = a+1

1**2 =  1
2**2 =  4
3**2 =  9
4**2 =  16
5**2 =  25

### TASK 4

In [3]:
# MULTIPLES OF 3 FROM 3 TO 30 USING FOR LOOP
for i in range(3,31):
    if i % 3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [4]:
# MULTIPLES OF 3 FROM 3 TO 30 USING WHILE LOOP
a = 3
while a<=30:
    if a % 3 == 0:
        print(a)
    a = a+1

3
6
9
12
15
18
21
24
27
30

### TASK 5

In [5]:
# REVERSE PRINTING NUMBERS FROM 10 TO 1 USING FOR LOOP
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [8]:
#REVERSE PRINTING NUMBERS FROM 10 TO 1 USING  WHILE LOOP
a= 10
while a>=1:
    print(a)
    a = a-1

10
9
8
7
6
5
4
3
2
1