In [1]:
import pandas as pd
import numpy as na
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_excel(r"C:\Users\91832\Downloads\Clean.xlsx")

In [3]:
df

,Unnamed: 0,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,0,1,5.1,3.5,1.4,0,Iris-setosa
1,1,2,4.9,3.0,1.4,0,Iris-setosa
2,2,3,NaN,3.2,1.3,0,Iris-setosa
3,3,4,4.6,3.1,1.5,0,Iris-setosa
4,4,5,5.0,3.6,1.4,0,Iris-setosa
...,...,...,...,...,...,...,...
155,155,156,5.5,2.4,3.8,1,Iris-versicolor
156,156,157,5.4,3.9,1.7,0,Iris-setosa
157,157,158,4.6,3.4,1.4,0,Iris-setosa
158,158,159,6.4,3.2,5.3,2,Iris-virginica
159,159,160,6.5,3.0,5.5,1,Iris-virginica

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     160 non-null    int64
 1   Id             160 non-null    int64
 2   SepalLengthCm  156 non-null    float64
 3   SepalWidthCm   156 non-null    float64
 4   PetalLengthCm  157 non-null    float64
 5   PetalWidthCm   160 non-null    int64
 6   Species        155 non-null    object
dtypes: float64(3), int64(3), object(1)
memory usage: 8.9+ KB

#### REMOVING DUPLICATES

In [5]:
df.duplicated().sum()

0

In [6]:
df.drop('Unnamed: 0',axis = 1,inplace = True)

#### DETECTING AND TREATING THE MISSING VALUES

In [7]:
df.isnull().sum()

Id               0
SepalLengthCm    4
SepalWidthCm     4
PetalLengthCm    3
PetalWidthCm     0
Species          5
dtype: int64

In [8]:
df[df['SepalLengthCm'].isnull()]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
2,3,NaN,3.2,1.3,0,Iris-setosa
18,19,NaN,3.8,1.7,0,Iris-setosa
42,43,NaN,3.2,1.3,0,Iris-setosa
126,127,NaN,2.8,4.8,1,Iris-virginica

In [9]:
df[(df['SepalLengthCm'].isnull())&(df['Species'] == 'Iris-setosa')] = 5.006 #average sepal length of iris-setosa

In [10]:
df[(df['SepalLengthCm'].isnull())&(df['Species'] == 'Iris-virginica')] = 6.588

In [11]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     4
PetalLengthCm    3
PetalWidthCm     0
Species          5
dtype: int64

In [12]:
df[df['SepalWidthCm'].isnull()]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
20,21.0,5.4,NaN,1.7,0.0,Iris-setosa
27,28.0,5.2,NaN,1.5,0.0,NaN
99,100.0,5.7,NaN,4.1,1.0,Iris-versicolor
131,132.0,7.9,NaN,6.4,2.0,Iris-virginica

In [13]:
df[(df['SepalWidthCm'].isnull())&(df['Species'] == 'Iris-setosa')] = 3.42 
#average sepal width of iris-setosa is 3.42

In [14]:
df[(df['SepalWidthCm'].isnull())&(df['Species'] == 'Iris-versicolor')] = 2.77

In [15]:
df[(df['SepalWidthCm'].isnull())&(df['Species'] == 'Iris-virginica')] = 2.97

In [16]:
df[df['PetalLengthCm'].isnull()]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
21,22.0,5.1,3.7,NaN,0.0,Iris-setosa
134,135.0,6.1,2.6,NaN,1.0,Iris-virginica
143,144.0,6.8,3.2,NaN,2.0,Iris-virginica

In [17]:
df[(df['PetalLengthCm'].isnull())&(df['Species'] == 'Iris-setosa')] = 1.46

In [18]:
df[(df['PetalLengthCm'].isnull())&(df['Species'] == 'Iris-virginica')] = 4.00

In [19]:
df['Species'].fillna(method = 'ffill',inplace = True)

In [20]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     1
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [21]:
df[df['SepalWidthCm'].isnull()]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
27,28.0,5.2,NaN,1.5,0.0,Iris-setosa

In [22]:
df[(df['SepalWidthCm'].isnull())&(df['Species'] == 'Iris-setosa')] = 3.42

In [23]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

### Detecting and replacing the outliers

In [24]:
df[(df['SepalLengthCm'] <4.3) & (df['SepalLengthCm']>7.900)]

Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

In [25]:
df[(df['SepalWidthCm'] <2.000) & (df['SepalWidthCm']>4.400)]

Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

In [26]:
df[(df['PetalLengthCm'] <1.000) & (df['PetalLengthCm']>6.900)]

Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

In [27]:
df[(df['PetalWidthCm'] <0.100) & (df['PetalWidthCm']>2.500)]

Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []